    h1 {
        font-family: arial, sans-serif;
        font-size: 50px;
        text-align: center
    }
    h2{
        font-family: arial, sans-serif;
        font-size: 16px
    }
    h3{
        font-family: arial, sans-serif;
        text-align: center;
    }
    