    header{
        background-color: cadetblue;
        text-align: center;
        display: block;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        text-align: center;
    }
    h2{
        font-family: 'Playfair Display', serif;
        font-size: 30px;
    }
    h3{
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        text-align: center;
    }
    img{
        max-width: 25%;
        height: auto;
        border-radius: 8px;
    }
    